<h1>Weekly Summary!</h1>
<p>
    <br>Average Sleep Time:
    <br><%= time_sleep %> hours
    <br>
    <br>Average Sports Time:
    <br><%= time_sports %> hours
    <br>
    <br>Average Study Time:
    <br><%= time_study %> hours
    <br>
    <br> Average Mood in Morning:
    <br><%= mood_morning %> (1~5)
    <br>
    <br>Average Mood at Evening:
    <br><%= mood_evening %> (1~5)
    <br>
    <br>Average Sleep Quality:
    <br><%= quality_sleep %> (1~5)
    <br>
    <br>Average regularity and Quality of Eating:
    <br><%= rq_eating %> (1~5)
</p>

<br><a href="./"> return </a>
<br>
<br><a href="/behavior/trend"> homepage </a>